/* *GENERICS* */

body {
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    font-weight: 700;
    color: white;
}

.d-flex {
    display: flex;
}

.d-column {
    flex-direction: column;
}

.c-grey {
    color: rgb(124, 126, 131);
}

.red {
    color: red;
}

.wrapper {
    position: relative;
    height: calc(100vh - 100px);
}

li, a {
    text-decoration: none;
    list-style-type: none;
}

/* ! MOBILE FIRST XS < 576px */

/* SIDEBAR */

.nav-bar {
    background-color: black;
    width: 60px;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    padding: 15px;
    text-align: center;
}

.nav-bar a {
    color: rgb(124, 126, 131);
}

.nav-bar a:hover {
    color: white;
}

.nav-bar img {
    margin-bottom: 8px;
}

.sidebar-logo {
    height: 100%;
    width: 100%;
    justify-content: space-between;
}

/* ICONS */

#logo-big {
    display: none;
}

#download {
    height: 20px;
    text-align: center;
}

#profile {
    background-color: rgb(124, 126, 131);
    border-radius: 50%;
}

span[class="none"] {
    display: none;
}

/* PLAYLIST */

.playlist {
    display: none;
}

/* MAIN */

main {
    position: relative;
    height: 100%;
    width: calc(100% - 60px);
    margin-left: 60px;
    background-color: rgb(20, 25, 34);
    overflow: scroll;
}

#content {
    padding: 0 25px;
}

.main-nav {
    margin-top: 120px;
    text-align: center;
}

.main-nav li, .main-nav a {
    display: inline-block;
    color: rgb(124, 126, 131);
    padding-right: 5px;
    margin-bottom: 20px;
}

.gallery {
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
    text-align: center;
    margin: 0 -15px;
}

.gallery .song {
    flex-basis: 50%;
    padding: 0 10px;
    justify-content: space-between;
    list-style-type: none;
}

img {
    max-width: 100%;
}

.circle {
    border-radius: 50%;
}

/* HEADER */

header {
    position: fixed;
    height: 100px;
    width: calc(100% - 60px);
    top: 0;
    right: 0;
    background-color: rgba(8, 11, 18, 0.8);
}

header>div {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 100%;
    width: 100%;
    padding-right: 25px;
}

.btn-empty {
    padding: 12px 28px;
    border-radius: 25px;
    border: 1px solid white;
}

/* FOOTER */

footer {
    height: 100px;
    background-color: rgb(40, 40, 40);
    position: relative;
    z-index: 1;
}

.row {
    height: 100px;
}

.col-xs-3 {
    height: 100px;
    align-items: center;
}

.col-xs-6 {
    height: 100px;
}

.col-xs-3 img {
    height: 30%;
    margin: 0 10px;
}

.col-xs-3 li, .col-xs-3 a, .col-xs-6 li, .col-xs-6 a {
    list-style-type: none;
    text-decoration: none;
    text-transform: none;
}

/* FIRST */

.first li:first-child {
    color: white;
}

.first li {
    color: rgb(124, 126, 131);
}

/* SECOND */

.second {
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    padding-top: 10px;
}

.second li {
    display: inline-block;
    font-size: 20px;
    margin: 0 15px;
}

.second li a {
    color: white;
}

.durata {
    display: flex;
    flex-direction: row;
    height: 4px;
    width: 100%;
    justify-content: space-around;
    vertical-align: middle;
    line-height: 4px;
}

.durata>span {
    font-size: 12px;
}

.time {
    width: 60%;
    background-color: grey;
    height: 4px;
}

.time>div {
    width: 18%;
    background-color: white;
    height: 4px;
}

/* THIRD */

.third {
    width: 100%;
    justify-content: flex-end;
}

.third li {
    display: inline-block;
    padding: 0 2px;
}

.third li a {
    color: white;
}

.third .volume {
    height: 4px;
    width: 40%;
    margin-right: 5%;
    background-color: grey;
}

.third .volume>div {
    height: 4px;
    width: 28%;
    background-color: white;
}

/* ! VIEWPORT SMALL >= 576px */

@media screen and (min-width: 576px) {
    header {
        width: calc(100% - 250px);
    }
    .nav-bar {
        width: 250px;
        text-align: left;
        font-size: 16px;
    }
    .upper-logo {
        display: flex;
        flex-direction: column;
    }
    #logo-big {
        display: initial;
        height: 45px;
        margin-bottom: 20px;
    }
    #logo-small {
        display: none;
    }
    span[class="none"] {
        display: initial;
    }
    .nav-bar a:hover {
        color: white;
    }
    .icon {
        height: 32px;
        line-height: 32px;
        vertical-align: middle;
    }
    .playlist {
        display: initial;
    }
    .fa-plus {
        color: black;
        font-size: 25px;
        background-color: rgb(124, 126, 131);
        padding: 8px;
        margin-right: 5px;
    }
    .bot-logo hr {
        border: 1px solid rgba(124, 126, 131, 0.5);
    }
    #profile {
        height: 30px;
        margin-right: 5px;
    }
    .user .c-grey {
        color: white;
    }
    main {
        width: calc(100% - 250px);
        margin-left: 250px;
    }
    .gallery .song {
        flex-basis: 50%;
    }
}

/* ! VIEWPORT MEDIUM >= 768px */

@media screen and (min-width: 768px) {
    .gallery .song {
        flex-basis: 25%;
    }
}

/* ! VIEWPORT LARGE >= 992px */

@media screen and (min-width: 992px) {
    .gallery .song {
        flex-basis: calc(100% / 6);
    }
}